/* Nexus 5X 的屏幕 412px宽 x 732px高 */
/*logo和app广告*/
.topnav{
    background: #d43c33;
    padding:0 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.topnav>.log{
    margin-top:20px;
    margin-bottom:19px; 
}
.topnav>.log>svg{
    width:142px;
    vertical-align: top;
}
.topnav>.downloadApp{
    font-size:15px;
    line-height: 30px;
    color:#fff;
    padding:0 10px;
    position: relative;
}
.topnav>.downloadApp::after{
    display: block;
    content:'';
    width:200%;
    height:200%;
    border:1px solid rgba(255, 255, 255, 1);
    border-radius:60px;
    position: absolute;
    top:0;
    left:0;
    transform: scale(0.5); 
    transform-origin:0 0; 
}
/* tabs组件 */
.tabsNav{

}
.tabsNav>ol{
    padding-top:3px;
    padding-bottom:0px;
    font-size:15px;
    line-height: 36px;
    display:flex;
    justify-content: center;
    align-items:center;
    border-bottom:1px solid #ccc;
}
.tabsNav>ol>li{
    text-align: center;
    flex:1 1 0;
}
.tabsNav>ol>li span{
    padding:0 5px;
    vertical-align: bottom;
    position: relative;
}
.tabsNav>ol>li span.active::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -12px;
    z-index: 3;
    width: 100%;
    height: 4px;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background: #d33a31;
}